<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar-Event</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
            <a class="navbar-brand ml-3 mr-auto" href="#">Calendar-Event</a>

            <ul>
          	  <li class="active"><a th:href="@{/}">Home</a></li>
	          <li><a href="#contact">Contact Us</a></li>
	          <li><a th:href="@{/login}" >Login</a></li>
        </ul>
    </nav>
    </header>

    <section class="banner">
        <div class="banner">
            <img src="/image/calendar-in-docs-sheets-header.jpg" alt="banner-bg" class="" style="width:1348px;height:600px; opacity: 0.6;">
            <div class="text-center banner-text">
                <h2 class="section-heading text-uppercase" style="font-size: 70px;">Calendar Event</h2>
                <p>Welcome to your Calender. Nice to meet you!</p>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
            </div>
        </div>
    </section>

    <section id="services" class="container-fluid mt-5">
        <div class="row text-center">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <img src="/image/login.png" alt="" style="height: 145px;">
                  <p class="card-text">You already have an account?</p>
                  <a href="#" class="btn btn-primary">Log in!</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <img src="/image/register.png" alt="">
                  <p class="card-text">You don't have an account?</p>
                  <a href="/register" class="btn btn-primary">Register now!</a>
                </div>
              </div>
            </div>
          </div>
    </section>

    <footer>
        <div class="mt-5 mx-3">
            <div class="row bg-dark">
                <div class="col-sm-5">
                    <h4>Calendar Event</h4>
                    <p>The calendar on your web site provides a personalised and up to date diary for each member - showing details of each event, contact information for the organiser, and even a map on how to get to the venue!
                    </p>
                </div>              
                 
                 <div class="col-sm-3">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">  
                        <li><a th:href="@{/login}">Login</a></li>
                        <li><a th:href="@{/register}">Register</a></li>
                    </ul>
                </div>
                 <div class="col-sm-4 subscribe">
                    <h4>Subscription</h4>
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter email id here">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Get Notify</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center copyright bg-dark">
            <p >Designed by team 45 - Hedspi</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>