<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" th:href="@{/css/login.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
</head>
<body>
	<div class="container">
		<form class="modal-content animate" th:action="@{afterLogin}"
			method="post" id="form_login">
			<div class="imgcontainer">
				<img th:src="@{/image/login.png}" alt="login image" class="center">
			</div>

			<div class="container">
				<label for="uname"><b>Email</b></label> 
				<input type="text" placeholder="Enter Email" name="email" id="email" th:field="${user.email}" /><br>
					<span id="email_error"></span> 
					<br>
					
					<label for="psw"><b>Password</b></label> 
					<input type="password" placeholder="Enter Password" name="password" id="password" th:field="${user.password}" /><br>
					<span id="password_error"></span>
					<br>
				<button type="submit" id="login" name="login">Login</button> 
				<br>
				<br>
				
				<a class="btn btn-outline-danger" role="button" aria-pressed="true" href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8282/login-google&response_type=code
		&client_id=376026133824-jvvrrkrtfnd4vekuu5k310okplu7525q.apps.googleusercontent.com&approval_prompt=force">Login With Gmail</a>
				<a class="btn btn-outline-primary" role="button" aria-pressed="true" th:href="@{/}">Home</a>
				<th:block th:if="${result != null}">
   			<div class="alert alert-success center" role="alert">
				<p th:text="${result}"></p>
			</div>
		</th:block>
			</div>
		</form>
<input type="hidden" th:value="${methodLogin}" id="methodLogin" th:name="methodLogin"/>
</div>
<script src="js/login/login.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>
</html>
